<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><strong>timetable 테이블 select 테스트</strong></p>
    {% for post in posts %}
    <div>
        <p>course_id: {{ post.course_id }}</p>
        <p>semester: {{ post.semester }}</p>
        <p>school: {{ post.school }}</p>
        <p>campus: {{ post.campus }}</p>
        <p>classification: {{ post.classification }}</p>
        <p>course_name: {{ post.course_name }}</p>
        <p>professor: {{ post.professor }}</p>
        <p>credit: {{ post.credit }}</p>
        <p>date_classroom: {{ post.date_classroom }}</p>
    </div>
    {% endfor %}
</body>
</html>