.color-0 {
    background-color: indianred;
    border: 1px solid indianred;;
}

.color-1 {
    background-color: #789dfe;
    border: 1px solid #789dfe;
}

.color-2 {
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
}

.color-3 {
    background-color: #fbb256;
    border: 1px solid #fbb256;
}

.color-4 {
    background-color: brown;
    border: 1px solid brown;
}

.color-5 {
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgoldenrodyellow;
}

.color-6 {
    background-color: purple;
    border: 1px solid purple;
}

.color-7 {
    background-color: moccasin;
    border: 1px solid moccasin;
}
