body {
    margin: 0;
    background: #8578d2
}

th, td {
    border: 1px solid gray;
}

.wrapper {
    background-color: white;
    padding: 30px 0;
}

.timetable-container {
    padding: 0 10%;
}

.timetable-order {
    width: 50px;
}

#timetable th {
    width: 50px;
}

.course-list-table {
    width: 100%;
}

.hd-course-no {
    width: 110px;
}

.hd-classification {
    width: 70px;
}

.hd-professor {
    width: 70px;
}

.hd-credit {
    width: 40px;
}
