{% extends "base.html" %}
{% block head %}
    {% load staticfiles %}
    {% if user.is_authenticated %}
    <script src="{% static "timetable/timetable.js" %}"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/timetable.css' %}?after">
    <link rel="stylesheet" type="text/css" href="{% static 'board/board.css' %}?after">
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/timetable_color.css' %}">
    <title>내 시간표</title>
{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <div id="wrapper">
    {% csrf_token %}
    {% load filters %}
<div class="timetable_container bg-primary">
    <div class="timetable-wrapper row">
        <table id="timetable">
            <tr class="table-header">
                <th></th>
                <th class="text-center">월</th>
                <th class="text-center">화</th>
                <th class="text-center">수</th>
                <th class="text-center">목</th>
                <th class="text-center">금</th>
            </tr>
            {% for i in max_classes %}
            <tr>
                <td class="timetable-order text-center">{{forloop.counter}}교시</td>
                {% for j in j|rjust:5 %}
                    {% if i in long_period_classes %}
                        <td class="cell period-long text-center"></td>
                    {% else %}
                        <td class="cell period-short text-center"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="column-time">
            <div class="cell table-header"></div>
            <div class="cell time-cell text-center">9시</div>
            <div class="cell time-cell text-center">10시</div>
            <div class="cell time-cell text-center">11시</div>
            <div class="cell time-cell text-center">12시</div>
            <div class="cell time-cell text-center">1시</div>
            <div class="cell time-cell text-center">2시</div>
            <div class="cell time-cell text-center">3시</div>
            <div class="cell time-cell text-center">4시</div>
            <div class="cell time-cell text-center">5시</div>
            <div class="cell time-cell text-center">6시</div>
        </div>
    </div>
    <div id="update-timetable">
      <a href="/update" id="update-timetable-btn" class="btn bg-accent text-white">시간표 수정</a>
    </div>
</div>
{% endblock %}
