{% extends "base.html" %}
{% block head %}
    {% load staticfiles %}
    {% if user.is_authenticated %}
    <script src="{% static "timetable/update_timetable.js" %}"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/update_timetable.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/timetable_color.css' %}">
{% endblock %}

{% block content %}
    {% include "nav2.html" %}
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
    {% csrf_token %}
    {% load filters %}
        <div class="wrapper">
            <div class="timetable-container row">
                <div class="col-4">
                    <table id="timetable">
                        <tr>
                            <th></th>
                            <th>월</th>
                            <th>화</th>
                            <th>수</th>
                            <th>목</th>
                            <th>금</th>
                        </tr>
                        {% for i in i|rjust:8 %}
                        <tr>
                            <td class="timetable-order">{{forloop.counter}}교시</td>
                            <td class="cell"></td>
                            <td class="cell"></td>
                            <td class="cell"></td>
                            <td class="cell"></td>
                            <td class="cell"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col">
                    <table id="course-list-table">
                        <tr class="head">
                          <td class="hd-course-no">학수번호-분반</td>
                          <td class="hd-classification">이수구분</td>
                          <td class="hd-coursename">교과목명</td>
                          <td class="hd-professor">담당교수</td>
                          <td class="hd-credit">학점</td>
                          <td class="hd-space-time">강의시간 / 강의실</td>
                          <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="search-container">
                <div id="search_course">
                  <div id="search_option">
                    <div id="selectors">
                        <input type="radio" name="search_type" value="course_no" id="course_no"> 학수번호
                        <input type="radio" name="search_type" value="course_name" id="course_name"> 교과목명
                        <input type="radio" name="search_type" value="professor" id="professor"> 담당교수
                    </div>
                    <input type="text" name="검색어 입력" id="search-input">
                    <input type="submit" value="검색" id="btn-search" class="btn">
                  </div>
                  <div id="search-result-table">
                  <table>
                    <tr class="head">
                      <td class="hd-course-no">학수번호-분반</td>
                      <td class="hd-classification">이수구분</td>
                      <td class="hd-coursename">교과목명</td>
                      <td class="hd-professor">담당교수</td>
                      <td class="hd-credit">학점</td>
                      <td class="hd-space-time">강의시간 / 강의실</td>
                      <td></td>
                    </tr>
                  </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'user:login' %}">login</a> |
    <a href="{% url 'user:signup' %}">signup</a>
    {% endif %}
{% endblock %}