{% block head %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "nav.css" %}">
{% endblock %}


<nav class="navbar">
    <div class="nav-logo">
        <a href="/">
            <img src="{% static "img/home.png" %}" width="100%" height="100%"/>
        </a>
    </div>
    <div class="right-area">
        <span class="encourage text-white">야 너도 할수있어 독강</span>
        <div id="logout text-white">
          <p><a href="{% url 'logout' %}">로그아웃</a></p>
        </div>
    </div>
</nav>