{% extends 'base.html' %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'board/new_post.css' %}">
{% endblock %}
{% block content %}
{% include "nav2.html" %}
<form method="post" >
    {% csrf_token %}
    <br>
    <br>
    <br>
    
    <div class="col">
        <div class="row justify-content-center">
            <div class="field box-type">
                <label for="id_post_type" class="label">게시판</label>
                <select name="post_type" id="id_post_type">
                    <option value="공지사항" selected="">공지사항</option>
                    <option value="스터디/팀플">스터디/팀플</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="field box-title">
                <label for="id_title" class="label">제목</label>
                <input type="text" name="title" maxlength="20" id="id_title" class="input" value="{{form.title.value}}">
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="field box-content">
                <label for="id_content" class="label">내용</label>
                <textarea name="content" cols="40" rows="10" required="" id="id_content" class="input">{{form.content.value}}</textarea>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="field box-submit">
                <button type="submit" class="btn btn-primary text-white">저장</button>
                <a href="javascript:history.back()" class="btn btn-primary text-white">취소</a>
            </div>
        </div>
</form>
{% endblock %}