{% extends 'base.html' %}

{% block content %}
<form method="post" >
    {% csrf_token %}

    <p>
    {{ form.post_type.label_tag }}<br>
        {{ form.post_type }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    <p>
    {{ form.title.label_tag }}<br>
        {{ form.title }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    <p>
    {{ form.content.label_tag }}<br>
        {{ form.content }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>

    <button type="submit">Save</button>
</form>
<p>
    <a href="javascript:history.back()">Cancel</a>
</p>
{% endblock %}