{% extends 'base.html' %}

{% block nav %}

<div id="post_container">
      {% if post %}
      <div id="title">
        <p> {{ post.title }} </p>
      </div>
      <div id="post_info">
        <p id="username"> {{ post.user_id }} </p>
        <p id="time"> {{ post.upload_time }} </p>
      </div>
          <div id="post_content">
            <p> {{ post.content}} </p>
          </div>
    <div id="postlike">
        좋아요: {{post_like.count}}개
        <form method="post" >
        {% csrf_token %}

            {% if check %}
            <button type="submit">좋아요 취소</button>
            {% else %}
            <button type="submit">좋아요</button>
            {% endif %}
        </form>
    </div>

      {% if post.user_id == user %}
      <div id="post_edit">
        <a href="{% url 'board:edit_post' post.post_id %}">글 수정</a>
      </div>
      {% endif %}
      <div id="post_list">
        <a href="{% url 'board:board' course.course_id %}">글목록</a>
      </div>
      {% else %}
        <p>해당 게시글이 존재하지 않습니다.</p>
        {% endif %}
    </div>



<table>

    {% for comment in comments %}
    <tr>
        <td><strong>{{comment.user_id}} :</strong></td>
        <td> {{comment.content}}</td>
        <td><small>{{comment.upload_time}}</small></td>
    </tr>
    {% endfor %}

</table>


<form method="post" >
    {% csrf_token %}
    <p>
    댓글작성<br>
        {{ form.content }}
    </p>
    <button type="submit">댓글 전송</button>
</form>
{% endblock %}