{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "user/login.css" %}">
{% endblock %}

{% block content %}


<div class="w-100 h-50 d-flex bg-primary">
    <div class="title">
        <div class="title-img row align-self-center">
            <img src="{% static "img/title.png" %}" width="100%" height="100%"/>
        </div>
        <div class="row text-white font-weight-bold justify-content-end">
            <div class="mt-2">야 너도 할수있어<br/>독강</div>
        </div>
    </div>
</div>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="col">
    {% if error %}
    <div class="row justify-content-center alert alert-danger">
        <div>{{ error.message }}</div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <input type="text" class="justify-self-center form-text form-control login-input" placeholder="ID" name="username"/>
    </div>
    <div class="row justify-content-center">
        <input type="password" class="justify-self-center form-control login-input" placeholder="PW" name="password"/>
    </div>
    <div class="row justify-content-center container-btn">
        <input type="submit" class="btn btn-primary text-white" value="로그인"/>
        <a href="{% url 'user:signup' %}" class="btn btn-primary text-white">회원가입</a>
        <a href="{% url 'password_reset' %}" class="btn btn-primary text-white">아이디/비밀번호 찾기</a>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
</div>
</form>

{% endblock %}