{% extends "base.html" %}


{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "user/signup.css" %}">
{% endblock %}

{% block content %}
<div class="bg-primary w-100 pb-4">
    <nav class="bg-primary">
        <div class="text-right text-white font-weight-bold p-2">야 너도 할수있어 독강</div>
    </nav>
    <div class="content">
        <div class="title">
            <a href="{% url "login" %}"><img src="{% static "img/title.png" %}" width="100%" height="100%"/></a>
        </div>
        <form method="post" action="{% url 'user:signup' %}">
        {% csrf_token %}
        {% if error %}<div class="alert alert-danger">{{ error.message }}</div>{% endif %}
        <div class="form-group">
            <select name="university" class="signup-input form-control" id="university-select">
                <option>고려대학교</option>
            </select>
        </div>
        <input type="email" name="email" class="signup-input justify-self-center form-text form-control" placeholder="메일주소(학교 도메인)"/>
        <input type="password" name="password" class="signup-input justify-self-center form-text form-control" placeholder="비밀번호"/>
        <input type="password" name="password_check" class="signup-input justify-self-center form-text form-control" placeholder="비밀번호 확인"/>
        <input type="text" name="name" class="signup-input justify-self-center form-text form-control" placeholder="이름"/>
        <input type="text" name="nickname" class="signup-input justify-self-center form-text form-control" placeholder="닉네임"/>
        <div class="row">
            <button type="submit" class="signup-submit btn text-white">회원가입</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}