{% extends "base.html" %}
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <table>
      {% for field in form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        <!--{% if field.help_text %}-->
          <!--<small>{{ field.help_text }}</small>-->
        <!--{% endif %}-->
        {% for error in field.errors %}
          <td style="color: red">{{ error }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </table>
    {% if invalid_email %}<p style="color: red">{{ invalid_email }}</p>{% endif %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}